* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 3% 3% 1% 3%;
    background-color: #090909;
    color: white;
    border-top: 1px solid;
}

.join {
    text-align: center;
    font-size: larger;
    padding: 2%;
}

.join h1 {
    font-weight: 600;
}

.button {
    padding: 1%;
}

.button button {
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.footer {
    padding: 3%;
    display: flex;
    justify-content: space-around;
}

.left {
    width: 38%;
    display: flex;
}

.logo {
    width: 35%;
}

.desc {
    width: max-content;
    line-height: 1.5rem;
    padding: 2% 7% 0;
}

.desc p {
    padding-bottom: 5%;
}

.desc hr {
    opacity: 0.4;
}

.desc h2 {
    padding: 0 0 3% 0;
}

.socials {
    display: flex;
    gap: 0.7rem;
    padding: 5% 3%;
}

.links li, .categories li {
    list-style-type: none;
    line-height: 1.5rem;
}

.links a, .categories a {
    text-decoration: none;
    color: #bdc4d0;
}

.links a:hover, .categories a:hover {
    color: white;
}

.contact {
    width: 15%;
    line-height: 1.5rem;
}

.contact p {
    padding: 3% 0;
}

.last {
    margin: 0 5%;
    opacity: 0.6;
}

.copyright {
    text-align: center;
    padding: 1%;
}