* {
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #000000;
    color: #e5e7eb;
    font-size: larger;
    padding: 5% 5% 2% 5%;
}

.main {
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 2% 10%;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding-top: 18px; 
}

.links a {
    text-decoration: none;
    color: #9ca3af;
}

.socials {
    display: flex;
    width: 10%;
    align-items: flex-end;
    gap: 1.5rem;
    padding: 0 11% 2% 5%;
}

hr {
    margin: 0 9%;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    color: #9ca3af;
}