* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1% 4%;
    background-color: #000000;
    color: #e5e7eb;
}

.nav {
    /* border: 1px solid; */
    display: flex;
    gap: 4rem;
    padding: 1rem;
}

.links {
    list-style: none;
    display: flex;
    /* border: 1px solid; */
    gap: 2.4rem;
    padding: 0 1rem;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #9ca3af;
}

.links a:hover, .buttons p:hover {
    color: #e5e7eb;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 20%;
    color: #9ca3af;
    position: relative;
}

.signin {
    background: 
      linear-gradient(black, black) padding-box,
      linear-gradient(45deg, #ff00cc, #3333ff) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 3% 12%;
    transition: background-position 0.4s ease-in-out;
    background-size: 200% 100%;
    background-position: 200% 0;
}

.signin:hover {
    background-position: 100% 0;
    /* background: 
        linear-gradient(black, black) padding-box,    
        linear-gradient(to right, #3333ff, #ff00cc) border-box;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out; */
    box-shadow: 0 5px 5px rgba(139, 100, 207, 0.5); 
    transition: 0.2s ease-in-out; 
}
